body, html {
    margin: 0;
    padding: 0;
    font-family: 'Linux Libertine','Georgia','Times',serif;
}
ul { list-style: none; padding-left: 5px; }

a { color: #3366cc;
    text-decoration: none;
    font-size: 0.875em;
    font-family: sans-serif;
}

h1, h2, h3{
    font-family: 'Linux Libertine','Georgia','Times',serif;
    line-height: 1.3;
    font-weight: normal;
    margin:0;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    overflow: hidden;
}

h3{
    font-weight: bold;
}

h1{
    font-size: 1.8em
}

.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.list_nav li{
    padding: 2px 0;
}

.wikitable tr th{
    background-color:  #A9A9A9;
}

.wikitable td{
    border: 1px solid gray;
}

.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}

.anchors_logo{
    margin-top: 10px;
    margin-left: 0;

}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}

.footer-container{
    padding: 50px 0;
    margin-top: 10px;
}

footer ul{
    margin: 0 15px;
    margin-bottom: 10px;
}

#footer-places li{
    padding: 5px;
}